# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

## For Client directory
# dependencies
client/node_modules
client/node_modules
client/.pnp
client/.pnp.js

# logs
*/npm-debug.log*
*/yarn-debug.log*
*/yarn-error.log*

## For Server directory

# dependencies
*/node_modules

services/*/node_modules
mobile/*/.gradle/
mobile/*/build/
mobile/*/jdks/
mobile/*/.idea/
mobile/*/deamon/
mobile/*/wrapper/
#misc
.vs
.vscode


*/.env
*/.yarn
*/.vs
*/bin/*
*[Dd]ebug/
*/[Dd]ebugPublic/
*/[Rr]elease/
*/[Rr]eleases/

*/x64/
*/x86/
*/build/
*/bld/

*/bin/*
*/obj/*
.yarnrc.yml
.yarnrc
.yarn